img {
    width: 100px;
}

body {
    background-color: wheat;
    font-family: 'Gentium Basic', serif;

}

h1 {
    margin-left: 350px
}

.relative2 {
    position: relative;
    width: 600px;
    height: 320px;
    margin-left: 300px;
    margin-top: 130px;
}

.absolute2 {
    position: absolute;
    top: 220px;
    right: 400px;
    width: 300px;
    height: 200px;
}

/*relative1{
    position: relative;
    background-color: white;
    width: 100px;
}*/
.inputs {

}

button {
    margin: 5px;
}

.grafico {
    width: 500px;
    height: 300px;
    border: 1px solid #000000;
    background-color: white;
}

.titulo1 {
    column-count: 2;
}

.creditos {
    position: fixed;
    bottom: 0px;
    right: 200px;
}

.inputfunc {

}
.relative1{
    position: relative;
    right: -800px
}
h2{
    margin-top: -3px;
}

.Resultados{
margin-left: 200px;
}

.Resultant{
    position:relative;
}