img {
    width: 100px;
}

body {
    background-color: wheat;
    font-family: 'Gentium Basic', serif;
}


h1 {

}

.relative2 {
    position: relative;
    width: 600px;
    height: 320px;
}

.absolute2 {
    position: absolute;
    top: 120px;
    right: 400px;
    width: 300px;
    height: 200px;
}

/*relative1{
    position: relative;
    background-color: white;
    width: 100px;
}*/
.inputs {
    font-family: 'Gentium Basic', serif;
}

button {
    margin: 5px;
}

.grafico {
    width: 500px;
    height: 300px;
    border: 1px solid #000000;
    background-color: white;
}

.titulo1 {
    column-count: 2;
}

.creditos {
    position: fixed;
    bottom: 0px;
    right: 200px;
}

.inputfunc {

}

#aux3{
    display: none;
    background-color: yellow;
    padding: 20px;
}

a#aux2:hover #aux3{
    display: block;
}


/*Capaz aca cambia los colores pancho*/
a:link {
    color: #62ccff;
}


a:visited {
    color: #dc33ff;
}


a:hover {
    color: #659fff;
}


a:active {
    color: #0d78ff;
}

